.ibp_add_aval_form .form-group{ 
	margin-bottom: 20px;
}
.trash_btn{
	color: #000;
}
.trash_btn:hover{
	color: #000
}
.ibp_add_aval_form{
	padding-top: 3%;
}
.add_aval_left{
	background-color: #f8f8f8;
	border-top: #952650 5px solid;
}

.add_aval_right .table{
	border-collapse: separate;
}
.add_aval_right .table thead{
	border-spacing: 3px;
	border-collapse: separate;
}
input.custom_checkbx{
	margin-top: 0;
}

.add_aval_right .table > thead > tr > th,  
.add_aval_right .table > tbody > tr > td{
	text-align: center;
}
